n8n/regulation_search_dispatcher.json
{
  "nodes": [
    {
      "parameters": {
        "multipleMethods": false,
        "httpMethod": "POST",
        "path": "regulation-search-dispatch",
        "authentication": "none",
        "responseMode": "responseNode",
        "webhookNotice": "",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1800,
        320
      ],
      "id": "1e1b89f7-a40f-47cf-b2e9-d4f7f5a20001",
      "name": "Webhook Dispatcher",
      "webhookId": "regulation-search-dispatch"
    },
    {
      "parameters": {
        "jsCode": "const source = $json.body && typeof $json.body === 'object' ? $json.body : $json;\nconst headers = $json.headers || {};\nconst binary = $binary || {};\nconst binaryKeys = Object.keys(binary);\nconst allowedActions = new Set(['authorize', 'search', 'upload', 'collection_status', 'collection_clear', 'feedback']);\nconst action = String(source.action || $json.query?.action || '').trim().toLowerCase();\nif (!allowedActions.has(action)) {\n  throw new Error('Unsupported action. Expected authorize, search, upload, collection_status, collection_clear or feedback.');\n}\nconst email = String(source.email || source.userEmail || headers['x-user-email'] || headers['X-User-Email'] || '').trim().toLowerCase();\nconst parsedLimit = Number(source.limit || source.top_k || 6);\nconst limit = Number.isFinite(parsedLimit) ? Math.max(1, Math.min(12, Math.round(parsedLimit))) : 6;\nconst requestStartedMs = Date.now();\nconst requestedAt = new Date(requestStartedMs).toISOString();\nconst normalized = {\n  action,\n  email,\n  query: String(source.query || '').trim(),\n  limit,\n  preset: String(source.preset || 'balanced').trim() || 'balanced',\n  requestId: `${$execution.id}-${requestStartedMs}`,\n  targetRequestId: String(source.request_id || source.requestId || '').trim(),\n  requestedAt,\n  requestStartedMs,\n  remoteIp: headers['x-forwarded-for'] || headers['x-real-ip'] || null,\n  userAgent: headers['user-agent'] || headers['User-Agent'] || null,\n  hasFile: binaryKeys.length > 0,\n  fileField: null,\n  originalFileName: null,\n  fileSizeBytes: Number(source.file_size_bytes || source.fileSizeBytes || 0) || 0,\n  mimeType: String(source.mime_type || source.mimeType || '').trim(),\n  fileSha1: String(source.file_sha1 || source.fileSha1 || '').trim(),\n  maxChunkChars: String(source.max_chunk_chars || source.maxChunkChars || '').trim(),\n  feedbackValue: String(source.feedback || source.answer_useful || '').trim().toLowerCase(),\n  feedbackReason: String(source.feedback_reason || '').trim(),\n  feedbackComment: String(source.feedback_comment || '').trim(),\n  selectedDoc: String(source.selected_doc || '').trim(),\n  selectedCitation: String(source.selected_citation || '').trim(),\n  answerText: String(source.answer_text || '').trim(),\n  clickedAfterMs: source.clicked_after_ms ?? source.clickedAfterMs ?? null\n};\nif (binaryKeys.length > 0) {\n  const fileField = binary.file ? 'file' : binaryKeys[0];\n  normalized.fileField = fileField;\n  normalized.originalFileName = binary[fileField]?.fileName || 'document.docx';\n  normalized.mimeType = normalized.mimeType || binary[fileField]?.mimeType || '';\n  return [{ json: normalized, binary: { file: binary[fileField] } }];\n}\nreturn [{ json: normalized }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1560,
        320
      ],
      "id": "a7d41450-86c5-4f77-89e0-6358ad0d0002",
      "name": "Normalize Request"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1nXNh8lNqoGyQFzXFZ9uGMYvSwavq5E0GWe-chaQJTqY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "authorized_users",
          "mode": "name"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically",
              "readRowsUntil": "lastRowInSheet"
            }
          },
          "outputFormatting": {
            "values": {
              "general": "UNFORMATTED_VALUE",
              "date": "FORMATTED_STRING"
            }
          },
          "returnFirstMatch": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1320,
        320
      ],
      "id": "7140fdb9-d3ce-4501-a741-39d29cb10003",
      "name": "Fetch Authorized Users",
      "credentials": {
        "googleApi": {
          "id": "rF8d9kF5awF0yoVh",
          "name": "Google Service Account account n8n-integration"
        }
      },
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const request = $node['Normalize Request']?.json ?? {};\nconst inputItems = $input.all();\nconst normalize = (value) => String(value ?? '').trim().toLowerCase();\nconst truthy = new Set(['1', 'true', 'yes', 'y', 'active', 'enabled', 'allowed', 'ok']);\nconst falsy = new Set(['0', 'false', 'no', 'n', 'inactive', 'disabled', 'blocked', 'denied']);\nconst fieldAliases = {\n  email: ['email', 'e-mail', 'mail', 'user_email'],\n  role: ['role', 'user_role', 'access_role'],\n  active: ['active', 'enabled', 'is_active', 'allowed', 'status', 'access'],\n  name: ['name', 'full_name', 'user_name'],\n};\nconst bootstrapUsers = {\n  'volkovmm@outlook.com': {\n    role: 'admin',\n    displayName: 'Admin Admin',\n  },\n};\n\nconst buildAuthorized = (baseRequest, role, displayName, authMessage) => ({\n  ...baseRequest,\n  isAuthorized: true,\n  authMessage,\n  role,\n  displayName,\n  canUpload: ['admin', 'editor'].includes(role),\n  canManageCollection: role === 'admin'\n});\n\nconst buildForbidden = (baseRequest, authMessage, role = 'viewer', displayName = '') => ({\n  ...baseRequest,\n  isAuthorized: false,\n  authMessage,\n  role,\n  displayName,\n  canUpload: false,\n  canManageCollection: false\n});\n\nconst findValue = (row, aliases) => {\n  const aliasSet = new Set(aliases.map(normalize));\n  for (const [key, value] of Object.entries(row || {})) {\n    if (aliasSet.has(normalize(key))) {\n      return value;\n    }\n  }\n  return '';\n};\n\nconst bootstrapUser = bootstrapUsers[normalize(request.email)] || null;\n\nif (!request.email) {\n  return [{ json: buildForbidden(request, 'Укажите рабочий e-mail.') }];\n}\n\nconst legacyValues = inputItems.length === 1 && Array.isArray(inputItems[0]?.json?.values) ? inputItems[0].json.values : null;\nlet rows = [];\nlet availableKeys = new Set();\n\nif (legacyValues) {\n  if (legacyValues.length === 0) {\n    if (bootstrapUser) {\n      return [{ json: buildAuthorized(request, bootstrapUser.role, bootstrapUser.displayName, 'Доступ подтверждён через bootstrap allowlist.') }];\n    }\n    return [{ json: buildForbidden(request, 'Лист authorized_users пуст.') }];\n  }\n  const headers = Array.isArray(legacyValues[0]) ? legacyValues[0].map((header) => String(header ?? '')) : [];\n  availableKeys = new Set(headers.map(normalize));\n  rows = legacyValues.slice(1).map((row) => Object.fromEntries(headers.map((header, index) => [header, row?.[index] ?? ''])));\n} else {\n  rows = inputItems.map((item) => item?.json ?? {}).filter((row) => Object.keys(row).length > 0 && !row.error);\n  availableKeys = new Set(rows.flatMap((row) => Object.keys(row).map(normalize)));\n}\n\nif (inputItems.some((item) => item?.json?.error)) {\n  const firstError = inputItems.find((item) => item?.json?.error)?.json?.error;\n  const message = typeof firstError === 'string' ? firstError : firstError?.message || 'Не удалось прочитать лист authorized_users.';\n  if (bootstrapUser) {\n    return [{ json: buildAuthorized(request, bootstrapUser.role, bootstrapUser.displayName, 'Доступ подтверждён через bootstrap allowlist.') }];\n  }\n  return [{ json: buildForbidden(request, message) }];\n}\n\nif (rows.length === 0) {\n  if (bootstrapUser) {\n    return [{ json: buildAuthorized(request, bootstrapUser.role, bootstrapUser.displayName, 'Доступ подтверждён через bootstrap allowlist.') }];\n  }\n  return [{ json: buildForbidden(request, 'Лист authorized_users пуст.') }];\n}\n\nif (!fieldAliases.email.some((alias) => availableKeys.has(alias))) {\n  if (bootstrapUser) {\n    return [{ json: buildAuthorized(request, bootstrapUser.role, bootstrapUser.displayName, 'Доступ подтверждён через bootstrap allowlist.') }];\n  }\n  return [{ json: buildForbidden(request, 'В листе authorized_users нет колонки email.') }];\n}\n\nconst email = normalize(request.email);\nconst matchedRow = rows.find((row) => normalize(findValue(row, fieldAliases.email)) === email);\n\nif (!matchedRow) {\n  if (bootstrapUser) {\n    return [{ json: buildAuthorized(request, bootstrapUser.role, bootstrapUser.displayName, 'Доступ подтверждён через bootstrap allowlist.') }];\n  }\n  return [{ json: buildForbidden(request, 'Пользователь не найден в списке authorized_users.') }];\n}\n\nconst activeRaw = normalize(findValue(matchedRow, fieldAliases.active));\nconst isActive = activeRaw === '' ? true : truthy.has(activeRaw) || !falsy.has(activeRaw);\nconst rawRole = normalize(findValue(matchedRow, fieldAliases.role) || 'viewer');\nconst role = ['admin', 'editor', 'viewer'].includes(rawRole) ? rawRole : 'viewer';\nconst displayName = String(findValue(matchedRow, fieldAliases.name) || '').trim();\n\nif (!isActive) {\n  return [{ json: buildForbidden(request, 'Доступ для пользователя отключён.', role, displayName) }];\n}\n\nreturn [{ json: buildAuthorized(request, role, displayName, 'Доступ подтверждён.') }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1080,
        320
      ],
      "id": "3210190b-cd95-4c4e-a91d-c1e0179a0004",
      "name": "Resolve Authorization"
    },
    {
      "parameters": {
        "jsCode": "const auth = $json;\nreturn [{\n  json: {\n    ...auth,\n    logRow: {\n      created_at_utc: auth.requestedAt,\n      request_id: auth.requestId,\n      action: auth.action,\n      email: auth.email || '',\n      display_name: auth.displayName || '',\n      role: auth.role || 'viewer',\n      auth_status: auth.isAuthorized ? 'authorized' : 'forbidden',\n      auth_message: auth.authMessage || '',\n      can_upload: auth.canUpload ? 'yes' : 'no',\n      can_manage_collection: auth.canManageCollection ? 'yes' : 'no',\n      remote_ip: auth.remoteIp || '',\n      user_agent: auth.userAgent || '',\n      execution_id: String($execution.id)\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -920,
        320
      ],
      "id": "fe3f0c0e-24fd-4488-a95d-44d060b50029",
      "name": "Build Auth Log"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isAuthorized }}",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -840,
        320
      ],
      "id": "dcbf2f38-32b7-4ff7-b06a-478eb8450005",
      "name": "Is Authorized?"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1IYQFLqJyingGBr0gjxIfR3JY1HIsRQ5SzdMu6Nt3Z-w",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "auth_log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "created_at_utc": "={{ $json.logRow.created_at_utc ?? '' }}",
            "request_id": "={{ $json.logRow.request_id ?? '' }}",
            "action": "={{ $json.logRow.action ?? '' }}",
            "email": "={{ $json.logRow.email ?? '' }}",
            "display_name": "={{ $json.logRow.display_name ?? '' }}",
            "role": "={{ $json.logRow.role ?? '' }}",
            "auth_status": "={{ $json.logRow.auth_status ?? '' }}",
            "auth_message": "={{ $json.logRow.auth_message ?? '' }}",
            "can_upload": "={{ $json.logRow.can_upload ?? '' }}",
            "can_manage_collection": "={{ $json.logRow.can_manage_collection ?? '' }}",
            "remote_ip": "={{ $json.logRow.remote_ip ?? '' }}",
            "user_agent": "={{ $json.logRow.user_agent ?? '' }}",
            "execution_id": "={{ $json.logRow.execution_id ?? '' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "created_at_utc",
              "displayName": "created_at_utc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "request_id",
              "displayName": "request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "display_name",
              "displayName": "display_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "auth_status",
              "displayName": "auth_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "auth_message",
              "displayName": "auth_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "can_upload",
              "displayName": "can_upload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "can_manage_collection",
              "displayName": "can_manage_collection",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "remote_ip",
              "displayName": "remote_ip",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_agent",
              "displayName": "user_agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -920,
        520
      ],
      "id": "98efcc70-7930-46c8-8f2a-03455d950030",
      "name": "Append Auth Log",
      "credentials": {
        "googleApi": {
          "id": "rF8d9kF5awF0yoVh",
          "name": "Google Service Account account n8n-integration"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const auth = $items('Resolve Authorization', 0, 0)?.json ?? $node['Resolve Authorization']?.json ?? {};\nreturn [{\n  json: {\n    ok: false,\n    statusCode: 403,\n    error: 'forbidden',\n    action: auth.action,\n    email: auth.email || null,\n    role: auth.role || 'viewer',\n    requestId: auth.requestId,\n    requestedAt: auth.requestedAt,\n    message: auth.authMessage || 'Доступ запрещён.'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -600,
        560
      ],
      "id": "0d8c0ce3-dbdb-40b0-9d9f-e8ba3ddd0006",
      "name": "Build Unauthorized Response"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.action}}",
                    "rightValue": "authorize",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "authorize"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.action}}",
                    "rightValue": "search",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "search"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.action}}",
                    "rightValue": "upload",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "upload"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.action}}",
                    "rightValue": "collection_status",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "collection_status"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.action}}",
                    "rightValue": "collection_clear",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "collection_clear"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.action}}",
                    "rightValue": "feedback",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "feedback"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -600,
        200
      ],
      "id": "bb7f02c0-bd0d-45b5-9b1d-aafc91270007",
      "name": "Route Action"
    },
    {
      "parameters": {
        "jsCode": "const auth = $items('Resolve Authorization', 0, 0)?.json ?? $node['Resolve Authorization']?.json ?? {};\nreturn [{\n  json: {\n    ok: true,\n    statusCode: 200,\n    action: 'authorize',\n    email: auth.email,\n    role: auth.role,\n    requestId: auth.requestId,\n    requestedAt: auth.requestedAt,\n    displayName: auth.displayName || null,\n    permissions: {\n      search: true,\n      upload: auth.canUpload,\n      collection_status: true,\n      collection_clear: auth.canManageCollection,\n      feedback: true\n    },\n    message: auth.authMessage\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -340,
        -80
      ],
      "id": "06f53ef5-6db8-48a1-86fa-0ac3ef390008",
      "name": "Build Authorize Response"
    },
    {
      "parameters": {
        "jsCode": "const auth = $items('Resolve Authorization', 0, 0)?.json ?? $node['Resolve Authorization']?.json ?? {};\nif (!auth.query) {\n  throw new Error('Search query is required');\n}\nreturn [{\n  json: {\n    query: auth.query,\n    top_k: auth.limit,\n    generate_answer: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -340,
        80
      ],
      "id": "29ce2d4f-e588-4f5d-9f3c-c68436c10009",
      "name": "Build Search Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://plequeneluera.beget.app/search-api/api/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 180000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        80
      ],
      "id": "8dd85652-a4ff-4f6d-87ce-9e7cc5e10010",
      "name": "Call Search API"
    },
    {
      "parameters": {
        "jsCode": "const auth = $items('Resolve Authorization', 0, 0)?.json ?? $node['Resolve Authorization']?.json ?? {};\nconst payload = $json || {};\nconst hits = Array.isArray(payload.hits) ? payload.hits : Array.isArray(payload.fragments) ? payload.fragments : [];\nconst answer = String(payload.answer || hits[0]?.raw_text || hits[0]?.text || '').trim();\nconst fallbackPatterns = [\n  /к сожалению/i,\n  /не найден[а-я\\s]*информац/i,\n  /не удалось найти/i,\n  /ответ[а-я\\s]*не найден/i,\n  /в доступных регламентах не найден/i\n];\nconst answerFound = answer !== '' && !fallbackPatterns.some((pattern) => pattern.test(answer.toLowerCase()));\nconst responseType = hits.length === 0 ? 'zero_results' : answerFound ? 'answer_found' : 'no_answer';\nconst documentRefs = hits.map((hit) => hit.doc_title || hit.doc_name || hit.source_file || '').filter(Boolean).slice(0, 8).join(' | ');\nconst citations = hits.map((hit) => hit.citation || hit.heading || '').filter(Boolean).slice(0, 8).join(' | ');\nconst topChunks = hits.slice(0, 5).map((hit, index) => ({\n  rank: hit.rank || index + 1,\n  score: hit.score ?? hit.rrf_score ?? null,\n  doc_title: hit.doc_title || hit.doc_name || null,\n  source_file: hit.source_file || null,\n  citation: hit.citation || hit.heading || null,\n  chunk_id: hit.id || hit.chunk_id || null,\n  document_url: hit.document_url || hit.doc_url || null\n}));\nconst selectedChunksJson = JSON.stringify(topChunks).slice(0, 45000);\nconst uniqueDocsCount = new Set(hits.map((hit) => hit.doc_title || hit.doc_name || hit.source_file || '').filter(Boolean)).size;\nconst top1ScoreRaw = hits[0]?.score ?? hits[0]?.rrf_score ?? null;\nconst top1Score = typeof top1ScoreRaw === 'number' ? top1ScoreRaw.toFixed(6) : top1ScoreRaw == null ? '' : String(top1ScoreRaw);\nconst zeroResults = hits.length === 0 ? 'yes' : 'no';\nconst latencyMs = Math.max(0, Date.now() - Number(auth.requestStartedMs || Date.now()));\nconst retrievalMode = String(payload.retrieval_mode || payload.search_mode || payload.searchMethod || payload.mode || 'unknown');\nconst generationMode = answerFound ? 'answer' : hits.length === 0 ? 'none' : 'fallback';\nconst collectionName = String(payload.collection_name || payload.collection || '').trim();\nconst indexVersion = String(payload.index_version || payload.indexVersion || '').trim();\nreturn [{\n  json: {\n    response: {\n      ...payload,\n      answer,\n      answerFound,\n      answer_found: answerFound,\n      responseType,\n      response_type: responseType,\n      ok: true,\n      authorizedEmail: auth.email,\n      role: auth.role,\n      requestId: auth.requestId,\n      requestedAt: auth.requestedAt,\n      latencyMs\n    },\n    logRow: {\n      created_at_utc: auth.requestedAt,\n      request_id: auth.requestId,\n      email: auth.email,\n      role: auth.role,\n      query_text: auth.query,\n      top_k: String(auth.limit),\n      preset: auth.preset,\n      retrieval_mode: retrievalMode,\n      generation_mode: generationMode,\n      answer_text: answer,\n      found_documents: documentRefs,\n      found_citations: citations,\n      top_chunks_json: selectedChunksJson,\n      hits_count: String(hits.length),\n      unique_docs_count: String(uniqueDocsCount),\n      top1_score: top1Score,\n      zero_results: zeroResults,\n      latency_ms: String(latencyMs),\n      collection_name: collectionName,\n      index_version: indexVersion,\n      status: 'success',\n      error_message: '',\n      feedback: '',\n      feedback_at: '',\n      execution_id: String($execution.id)\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        140,
        80
      ],
      "id": "153d8d13-a9e2-4bc2-8b5b-a0db5b8e0011",
      "name": "Build Search Result"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1IYQFLqJyingGBr0gjxIfR3JY1HIsRQ5SzdMu6Nt3Z-w",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "interaction_log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "created_at_utc": "={{ $json.logRow.created_at_utc ?? '' }}",
            "request_id": "={{ $json.logRow.request_id ?? '' }}",
            "email": "={{ $json.logRow.email ?? '' }}",
            "role": "={{ $json.logRow.role ?? '' }}",
            "query_text": "={{ $json.logRow.query_text ?? '' }}",
            "top_k": "={{ $json.logRow.top_k ?? '' }}",
            "preset": "={{ $json.logRow.preset ?? '' }}",
            "retrieval_mode": "={{ $json.logRow.retrieval_mode ?? '' }}",
            "generation_mode": "={{ $json.logRow.generation_mode ?? '' }}",
            "answer_text": "={{ $json.logRow.answer_text ?? '' }}",
            "found_documents": "={{ $json.logRow.found_documents ?? '' }}",
            "found_citations": "={{ $json.logRow.found_citations ?? '' }}",
            "top_chunks_json": "={{ $json.logRow.top_chunks_json ?? '' }}",
            "hits_count": "={{ $json.logRow.hits_count ?? '' }}",
            "unique_docs_count": "={{ $json.logRow.unique_docs_count ?? '' }}",
            "top1_score": "={{ $json.logRow.top1_score ?? '' }}",
            "zero_results": "={{ $json.logRow.zero_results ?? '' }}",
            "latency_ms": "={{ $json.logRow.latency_ms ?? '' }}",
            "collection_name": "={{ $json.logRow.collection_name ?? '' }}",
            "index_version": "={{ $json.logRow.index_version ?? '' }}",
            "status": "={{ $json.logRow.status ?? '' }}",
            "error_message": "={{ $json.logRow.error_message ?? '' }}",
            "feedback": "={{ $json.logRow.feedback ?? '' }}",
            "feedback_at": "={{ $json.logRow.feedback_at ?? '' }}",
            "execution_id": "={{ $json.logRow.execution_id ?? '' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "created_at_utc",
              "displayName": "created_at_utc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "request_id",
              "displayName": "request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "query_text",
              "displayName": "query_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "top_k",
              "displayName": "top_k",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "preset",
              "displayName": "preset",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "retrieval_mode",
              "displayName": "retrieval_mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "generation_mode",
              "displayName": "generation_mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "answer_text",
              "displayName": "answer_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "found_documents",
              "displayName": "found_documents",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "found_citations",
              "displayName": "found_citations",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "top_chunks_json",
              "displayName": "top_chunks_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hits_count",
              "displayName": "hits_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "unique_docs_count",
              "displayName": "unique_docs_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "top1_score",
              "displayName": "top1_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "zero_results",
              "displayName": "zero_results",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "latency_ms",
              "displayName": "latency_ms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "collection_name",
              "displayName": "collection_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "index_version",
              "displayName": "index_version",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "feedback",
              "displayName": "feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "feedback_at",
              "displayName": "feedback_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        380,
        80
      ],
      "id": "69536dd7-0de7-4680-9ee4-873debe90012",
      "name": "Append Interaction Log",
      "credentials": {
        "googleApi": {
          "id": "rF8d9kF5awF0yoVh",
          "name": "Google Service Account account n8n-integration"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $items('Build Search Result', 0, 0)?.json?.response ?? $node['Build Search Result']?.json?.response ?? {} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        80
      ],
      "id": "d0dcf8f9-5f8d-4f95-b21d-f9f61d870013",
      "name": "Finalize Search Response"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.canUpload }}",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -340,
        320
      ],
      "id": "0090d5de-5a7c-4f2f-a4ba-6f7cd6330014",
      "name": "Can Upload?"
    },
    {
      "parameters": {
        "jsCode": "const auth = $items('Resolve Authorization', 0, 0)?.json ?? $node['Resolve Authorization']?.json ?? {};\nreturn [{\n  json: {\n    ok: false,\n    statusCode: 403,\n    error: 'forbidden',\n    action: 'upload',\n    email: auth.email,\n    role: auth.role,\n    requestId: auth.requestId,\n    requestedAt: auth.requestedAt,\n    message: 'Недостаточно прав для загрузки документов.'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -100,
        480
      ],
      "id": "fe4e7dcb-cb13-4712-a888-5f6a2fca0015",
      "name": "Build Upload Forbidden Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://plequeneluera.beget.app/search-api/api/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file"
            },
            {
              "name": "preset",
              "value": "={{$node['Normalize Request'].json.preset}}"
            }
          ]
        },
        "options": {
          "timeout": 600000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        320
      ],
      "id": "f403dc3e-8f6e-4f41-8b32-a52ba5520016",
      "name": "Call Upload API"
    },
    {
      "parameters": {
        "jsCode": "const auth = $items('Resolve Authorization', 0, 0)?.json ?? $node['Resolve Authorization']?.json ?? {};\nconst payload = $json || {};\nconst stats = payload?.stats && typeof payload.stats === 'object' ? payload.stats : {};\nconst fragmentsCount = stats.total_fragments ?? stats.vectors_indexed ?? stats.indexed_chunks ?? stats.chunks ?? 0;\nconst avgChunkChars = stats.avg_chunk_chars ?? stats.average_chunk_chars ?? '';\nconst maxChunkChars = stats.max_chunk_chars ?? stats.chunk_max_chars ?? '';\nconst paragraphChunks = stats.paragraph_chunks ?? stats?.chunk_types?.paragraph ?? '';\nconst tableRowChunks = stats.table_row_chunks ?? stats?.chunk_types?.table_row ?? '';\nconst importantChunks = stats.important_chunks ?? stats?.chunk_types?.important ?? '';\nconst chunkMaxCharsSetting = stats.chunk_max_chars_setting ?? auth.maxChunkChars ?? '';\nconst collectionName = String(payload.collection_name || stats.collection || payload.collection || '').trim();\nconst processingMs = Math.max(0, Date.now() - Number(auth.requestStartedMs || Date.now()));\nconst message = String(payload?.message || payload?.detail || 'Upload processed').slice(0, 5000);\nconst status = payload?.ok === false ? 'failed' : 'success';\nreturn [{\n  json: {\n    response: {\n      ...payload,\n      ok: payload?.ok === false ? false : true,\n      authorizedEmail: auth.email,\n      role: auth.role,\n      requestId: auth.requestId,\n      requestedAt: auth.requestedAt,\n      processingMs\n    },\n    logRow: {\n      created_at_utc: auth.requestedAt,\n      request_id: auth.requestId,\n      email: auth.email,\n      role: auth.role,\n      action: 'upload',\n      original_file_name: auth.originalFileName || '',\n      stored_doc_name: payload.doc_name || auth.originalFileName || '',\n      doc_id: String(payload.doc_id || stats.doc_id || ''),\n      file_size_bytes: String(auth.fileSizeBytes || 0),\n      mime_type: auth.mimeType || '',\n      file_sha1: auth.fileSha1 || '',\n      status,\n      chunks_count: String(fragmentsCount),\n      avg_chunk_chars: String(avgChunkChars),\n      max_chunk_chars: String(maxChunkChars),\n      paragraph_chunks: String(paragraphChunks),\n      table_row_chunks: String(tableRowChunks),\n      important_chunks: String(importantChunks),\n      chunk_max_chars_setting: String(chunkMaxCharsSetting),\n      collection_name: collectionName,\n      processing_ms: String(processingMs),\n      message,\n      execution_id: String($execution.id)\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        140,
        320
      ],
      "id": "7670a9ec-264c-40b1-b8ed-ad727e0d0017",
      "name": "Build Upload Result"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1IYQFLqJyingGBr0gjxIfR3JY1HIsRQ5SzdMu6Nt3Z-w",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "document_loading_log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "created_at_utc": "={{ $json.logRow.created_at_utc ?? '' }}",
            "request_id": "={{ $json.logRow.request_id ?? '' }}",
            "email": "={{ $json.logRow.email ?? '' }}",
            "role": "={{ $json.logRow.role ?? '' }}",
            "action": "={{ $json.logRow.action ?? '' }}",
            "original_file_name": "={{ $json.logRow.original_file_name ?? '' }}",
            "stored_doc_name": "={{ $json.logRow.stored_doc_name ?? '' }}",
            "doc_id": "={{ $json.logRow.doc_id ?? '' }}",
            "file_size_bytes": "={{ $json.logRow.file_size_bytes ?? '' }}",
            "mime_type": "={{ $json.logRow.mime_type ?? '' }}",
            "file_sha1": "={{ $json.logRow.file_sha1 ?? '' }}",
            "status": "={{ $json.logRow.status ?? '' }}",
            "chunks_count": "={{ $json.logRow.chunks_count ?? '' }}",
            "avg_chunk_chars": "={{ $json.logRow.avg_chunk_chars ?? '' }}",
            "max_chunk_chars": "={{ $json.logRow.max_chunk_chars ?? '' }}",
            "paragraph_chunks": "={{ $json.logRow.paragraph_chunks ?? '' }}",
            "table_row_chunks": "={{ $json.logRow.table_row_chunks ?? '' }}",
            "important_chunks": "={{ $json.logRow.important_chunks ?? '' }}",
            "chunk_max_chars_setting": "={{ $json.logRow.chunk_max_chars_setting ?? '' }}",
            "collection_name": "={{ $json.logRow.collection_name ?? '' }}",
            "processing_ms": "={{ $json.logRow.processing_ms ?? '' }}",
            "message": "={{ $json.logRow.message ?? '' }}",
            "execution_id": "={{ $json.logRow.execution_id ?? '' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "created_at_utc",
              "displayName": "created_at_utc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "request_id",
              "displayName": "request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "original_file_name",
              "displayName": "original_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stored_doc_name",
              "displayName": "stored_doc_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "doc_id",
              "displayName": "doc_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "file_size_bytes",
              "displayName": "file_size_bytes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mime_type",
              "displayName": "mime_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "file_sha1",
              "displayName": "file_sha1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chunks_count",
              "displayName": "chunks_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "avg_chunk_chars",
              "displayName": "avg_chunk_chars",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "max_chunk_chars",
              "displayName": "max_chunk_chars",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paragraph_chunks",
              "displayName": "paragraph_chunks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "table_row_chunks",
              "displayName": "table_row_chunks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "important_chunks",
              "displayName": "important_chunks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chunk_max_chars_setting",
              "displayName": "chunk_max_chars_setting",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "collection_name",
              "displayName": "collection_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processing_ms",
              "displayName": "processing_ms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        380,
        320
      ],
      "id": "b7af79e5-097d-4934-b4eb-a3e4a41b0018",
      "name": "Append Upload Log",
      "credentials": {
        "googleApi": {
          "id": "rF8d9kF5awF0yoVh",
          "name": "Google Service Account account n8n-integration"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $items('Build Upload Result', 0, 0)?.json?.response ?? $node['Build Upload Result']?.json?.response ?? {} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        320
      ],
      "id": "7243275a-94b3-46bf-b4be-c5cf09c50019",
      "name": "Finalize Upload Response"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://plequeneluera.beget.app/search-api/api/collection",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 180000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -340,
        720
      ],
      "id": "3809f00d-33a7-401d-bb96-02273fd50020",
      "name": "Call Collection Status"
    },
    {
      "parameters": {
        "jsCode": "const auth = $items('Resolve Authorization', 0, 0)?.json ?? $node['Resolve Authorization']?.json ?? {};\nreturn [{ json: { ...$json, ok: true, statusCode: 200, authorizedEmail: auth.email, role: auth.role, requestId: auth.requestId, requestedAt: auth.requestedAt } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -100,
        720
      ],
      "id": "8824e9f5-1b60-42fa-98e0-a1e099fd0021",
      "name": "Finalize Collection Status"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.canManageCollection }}",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -340,
        920
      ],
      "id": "a75b4a72-3b17-42e1-b08d-d44688660022",
      "name": "Can Clear Collection?"
    },
    {
      "parameters": {
        "jsCode": "const auth = $items('Resolve Authorization', 0, 0)?.json ?? $node['Resolve Authorization']?.json ?? {};\nreturn [{\n  json: {\n    ok: false,\n    statusCode: 403,\n    error: 'forbidden',\n    action: 'collection_clear',\n    email: auth.email,\n    role: auth.role,\n    requestId: auth.requestId,\n    requestedAt: auth.requestedAt,\n    message: 'Очистка коллекции разрешена только администратору.'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -100,
        1080
      ],
      "id": "3ef47f68-8f9b-4ca4-b5eb-95f413ca0023",
      "name": "Build Clear Forbidden Response"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "https://plequeneluera.beget.app/search-api/api/collection",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 180000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        920
      ],
      "id": "504f2933-0ec2-4ef4-b446-52dd6a7f0024",
      "name": "Call Collection Clear"
    },
    {
      "parameters": {
        "jsCode": "const auth = $items('Resolve Authorization', 0, 0)?.json ?? $node['Resolve Authorization']?.json ?? {};\nconst payload = $json || {};\nconst processingMs = Math.max(0, Date.now() - Number(auth.requestStartedMs || Date.now()));\nconst message = String(payload?.message || 'Collection cleared').slice(0, 5000);\nreturn [{\n  json: {\n    response: {\n      ...payload,\n      ok: true,\n      statusCode: 200,\n      authorizedEmail: auth.email,\n      role: auth.role,\n      requestId: auth.requestId,\n      requestedAt: auth.requestedAt,\n      processingMs\n    },\n    logRow: {\n      created_at_utc: auth.requestedAt,\n      request_id: auth.requestId,\n      email: auth.email,\n      role: auth.role,\n      action: 'collection_clear',\n      original_file_name: '',\n      stored_doc_name: '',\n      doc_id: '',\n      file_size_bytes: '',\n      mime_type: '',\n      file_sha1: '',\n      status: 'success',\n      chunks_count: '0',\n      avg_chunk_chars: '',\n      max_chunk_chars: '',\n      paragraph_chunks: '',\n      table_row_chunks: '',\n      important_chunks: '',\n      chunk_max_chars_setting: '',\n      collection_name: String(payload.collection_name || payload.name || ''),\n      processing_ms: String(processingMs),\n      message,\n      execution_id: String($execution.id)\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        140,
        920
      ],
      "id": "80eb060e-8dde-49c7-b207-08e743640025",
      "name": "Build Clear Result"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1IYQFLqJyingGBr0gjxIfR3JY1HIsRQ5SzdMu6Nt3Z-w",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "document_loading_log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "created_at_utc": "={{ $json.logRow.created_at_utc ?? '' }}",
            "request_id": "={{ $json.logRow.request_id ?? '' }}",
            "email": "={{ $json.logRow.email ?? '' }}",
            "role": "={{ $json.logRow.role ?? '' }}",
            "action": "={{ $json.logRow.action ?? '' }}",
            "original_file_name": "={{ $json.logRow.original_file_name ?? '' }}",
            "stored_doc_name": "={{ $json.logRow.stored_doc_name ?? '' }}",
            "doc_id": "={{ $json.logRow.doc_id ?? '' }}",
            "file_size_bytes": "={{ $json.logRow.file_size_bytes ?? '' }}",
            "mime_type": "={{ $json.logRow.mime_type ?? '' }}",
            "file_sha1": "={{ $json.logRow.file_sha1 ?? '' }}",
            "status": "={{ $json.logRow.status ?? '' }}",
            "chunks_count": "={{ $json.logRow.chunks_count ?? '' }}",
            "avg_chunk_chars": "={{ $json.logRow.avg_chunk_chars ?? '' }}",
            "max_chunk_chars": "={{ $json.logRow.max_chunk_chars ?? '' }}",
            "paragraph_chunks": "={{ $json.logRow.paragraph_chunks ?? '' }}",
            "table_row_chunks": "={{ $json.logRow.table_row_chunks ?? '' }}",
            "important_chunks": "={{ $json.logRow.important_chunks ?? '' }}",
            "chunk_max_chars_setting": "={{ $json.logRow.chunk_max_chars_setting ?? '' }}",
            "collection_name": "={{ $json.logRow.collection_name ?? '' }}",
            "processing_ms": "={{ $json.logRow.processing_ms ?? '' }}",
            "message": "={{ $json.logRow.message ?? '' }}",
            "execution_id": "={{ $json.logRow.execution_id ?? '' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "created_at_utc",
              "displayName": "created_at_utc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "request_id",
              "displayName": "request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "original_file_name",
              "displayName": "original_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stored_doc_name",
              "displayName": "stored_doc_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "doc_id",
              "displayName": "doc_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "file_size_bytes",
              "displayName": "file_size_bytes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mime_type",
              "displayName": "mime_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "file_sha1",
              "displayName": "file_sha1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chunks_count",
              "displayName": "chunks_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "avg_chunk_chars",
              "displayName": "avg_chunk_chars",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "max_chunk_chars",
              "displayName": "max_chunk_chars",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paragraph_chunks",
              "displayName": "paragraph_chunks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "table_row_chunks",
              "displayName": "table_row_chunks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "important_chunks",
              "displayName": "important_chunks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chunk_max_chars_setting",
              "displayName": "chunk_max_chars_setting",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "collection_name",
              "displayName": "collection_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processing_ms",
              "displayName": "processing_ms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        380,
        920
      ],
      "id": "6947d4c6-1c56-479a-b8da-cf7d0d910026",
      "name": "Append Clear Log",
      "credentials": {
        "googleApi": {
          "id": "rF8d9kF5awF0yoVh",
          "name": "Google Service Account account n8n-integration"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $items('Build Clear Result', 0, 0)?.json?.response ?? $node['Build Clear Result']?.json?.response ?? {} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        920
      ],
      "id": "928ec13b-1676-4506-92d3-7556abce0027",
      "name": "Finalize Clear Response"
    },
    {
      "parameters": {
        "jsCode": "const auth = $items('Resolve Authorization', 0, 0)?.json ?? $node['Resolve Authorization']?.json ?? {};\nconst normalizedFeedback = ['yes', 'true', '1'].includes(auth.feedbackValue) ? 'yes' : ['no', 'false', '0'].includes(auth.feedbackValue) ? 'no' : '';\nif (!auth.targetRequestId || !normalizedFeedback) {\n  return [{\n    json: {\n      response: {\n        ok: false,\n        statusCode: 400,\n        error: 'invalid_feedback',\n        action: 'feedback',\n        requestId: auth.requestId,\n        linkedRequestId: auth.targetRequestId || null,\n        email: auth.email,\n        role: auth.role,\n        message: 'Для feedback нужны request_id и значение yes/no.'\n      }\n    }\n  }];\n}\nconst clickedAfterMsRaw = Number(auth.clickedAfterMs);\nconst clickedAfterMs = Number.isFinite(clickedAfterMsRaw) ? Math.max(0, Math.round(clickedAfterMsRaw)) : '';\nreturn [{\n  json: {\n    response: {\n      ok: true,\n      statusCode: 200,\n      action: 'feedback',\n      requestId: auth.requestId,\n      linkedRequestId: auth.targetRequestId,\n      requestedAt: auth.requestedAt,\n      email: auth.email,\n      role: auth.role,\n      savedFeedback: normalizedFeedback,\n      message: 'Оценка полезности сохранена.'\n    },\n    logRow: {\n      created_at_utc: auth.requestedAt,\n      request_id: auth.targetRequestId,\n      email: auth.email,\n      role: auth.role,\n      query_text: auth.query,\n      answer_useful: normalizedFeedback,\n      feedback_reason: String(auth.feedbackReason || '').slice(0, 1000),\n      feedback_comment: String(auth.feedbackComment || '').slice(0, 2000),\n      selected_doc: auth.selectedDoc || '',\n      selected_citation: auth.selectedCitation || '',\n      answer_text: String(auth.answerText || '').slice(0, 5000),\n      clicked_after_ms: String(clickedAfterMs),\n      execution_id: String($execution.id)\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -340,
        1240
      ],
      "id": "6e6558aa-42d8-4a54-bcf5-d58a233f0031",
      "name": "Build Feedback Result"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.response.statusCode === 200 }}",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -100,
        1240
      ],
      "id": "f5256ed7-b7a4-4e31-aaf4-9f5f78f70032",
      "name": "Feedback Ready?"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1IYQFLqJyingGBr0gjxIfR3JY1HIsRQ5SzdMu6Nt3Z-w",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "feedback_log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "created_at_utc": "={{ $json.logRow.created_at_utc ?? '' }}",
            "request_id": "={{ $json.logRow.request_id ?? '' }}",
            "email": "={{ $json.logRow.email ?? '' }}",
            "role": "={{ $json.logRow.role ?? '' }}",
            "query_text": "={{ $json.logRow.query_text ?? '' }}",
            "answer_useful": "={{ $json.logRow.answer_useful ?? '' }}",
            "feedback_reason": "={{ $json.logRow.feedback_reason ?? '' }}",
            "feedback_comment": "={{ $json.logRow.feedback_comment ?? '' }}",
            "selected_doc": "={{ $json.logRow.selected_doc ?? '' }}",
            "selected_citation": "={{ $json.logRow.selected_citation ?? '' }}",
            "answer_text": "={{ $json.logRow.answer_text ?? '' }}",
            "clicked_after_ms": "={{ $json.logRow.clicked_after_ms ?? '' }}",
            "execution_id": "={{ $json.logRow.execution_id ?? '' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "created_at_utc",
              "displayName": "created_at_utc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "request_id",
              "displayName": "request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "query_text",
              "displayName": "query_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "answer_useful",
              "displayName": "answer_useful",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "feedback_reason",
              "displayName": "feedback_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "feedback_comment",
              "displayName": "feedback_comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "selected_doc",
              "displayName": "selected_doc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "selected_citation",
              "displayName": "selected_citation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "answer_text",
              "displayName": "answer_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "clicked_after_ms",
              "displayName": "clicked_after_ms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        140,
        1160
      ],
      "id": "05a8af6d-89d9-42f8-b658-0cb7ebef0033",
      "name": "Append Feedback Log",
      "credentials": {
        "googleApi": {
          "id": "rF8d9kF5awF0yoVh",
          "name": "Google Service Account account n8n-integration"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $items('Build Feedback Result', 0, 0)?.json?.response ?? $node['Build Feedback Result']?.json?.response ?? {} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        1240
      ],
      "id": "12c2a21f-8e02-48f8-9fb5-3260118d0034",
      "name": "Finalize Feedback Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.statusCode || 200 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        900,
        320
      ],
      "id": "7cedaa6e-aeb0-4ac9-ae22-e6f3d6dd0028",
      "name": "Respond JSON"
    }
  ],
  "connections": {
    "Webhook Dispatcher": {
      "main": [
        [
          {
            "node": "Normalize Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Request": {
      "main": [
        [
          {
            "node": "Fetch Authorized Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Authorized Users": {
      "main": [
        [
          {
            "node": "Resolve Authorization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Authorization": {
      "main": [
        [
          {
            "node": "Build Auth Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Auth Log": {
      "main": [
        [
          {
            "node": "Is Authorized?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append Auth Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Authorized?": {
      "main": [
        [
          {
            "node": "Route Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Unauthorized Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Unauthorized Response": {
      "main": [
        [
          {
            "node": "Respond JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Action": {
      "main": [
        [
          {
            "node": "Build Authorize Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Search Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Can Upload?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Collection Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Can Clear Collection?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Feedback Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Authorize Response": {
      "main": [
        [
          {
            "node": "Respond JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Search Payload": {
      "main": [
        [
          {
            "node": "Call Search API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Search API": {
      "main": [
        [
          {
            "node": "Build Search Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Search Result": {
      "main": [
        [
          {
            "node": "Append Interaction Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Interaction Log": {
      "main": [
        [
          {
            "node": "Finalize Search Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Search Response": {
      "main": [
        [
          {
            "node": "Respond JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Can Upload?": {
      "main": [
        [
          {
            "node": "Call Upload API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Upload Forbidden Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Upload Forbidden Response": {
      "main": [
        [
          {
            "node": "Respond JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Upload API": {
      "main": [
        [
          {
            "node": "Build Upload Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Upload Result": {
      "main": [
        [
          {
            "node": "Append Upload Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Upload Log": {
      "main": [
        [
          {
            "node": "Finalize Upload Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Upload Response": {
      "main": [
        [
          {
            "node": "Respond JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Collection Status": {
      "main": [
        [
          {
            "node": "Finalize Collection Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Collection Status": {
      "main": [
        [
          {
            "node": "Respond JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Can Clear Collection?": {
      "main": [
        [
          {
            "node": "Call Collection Clear",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Clear Forbidden Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Clear Forbidden Response": {
      "main": [
        [
          {
            "node": "Respond JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Collection Clear": {
      "main": [
        [
          {
            "node": "Build Clear Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Clear Result": {
      "main": [
        [
          {
            "node": "Append Clear Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Clear Log": {
      "main": [
        [
          {
            "node": "Finalize Clear Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Clear Response": {
      "main": [
        [
          {
            "node": "Respond JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Feedback Result": {
      "main": [
        [
          {
            "node": "Feedback Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feedback Ready?": {
      "main": [
        [
          {
            "node": "Append Feedback Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize Feedback Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Feedback Log": {
      "main": [
        [
          {
            "node": "Finalize Feedback Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Feedback Response": {
      "main": [
        [
          {
            "node": "Respond JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
